*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image_major {
    width: 100%;
    object-fit: cover;
}

.container__child__body {
    padding-left: 30px;
    padding-right: 25px;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: hsl(234, 29%, 20%);
    font-weight: 700;
    font-size: 40px;
    margin: 20px 0;
}

.paragraph {
    font-family: 'Roboto';
    color: hsl(234, 29%, 20%);
    margin-bottom: 20px;
}

.text_icon {
    font-family: 'Roboto';
    color: hsl(234, 29%, 20%);
}

.list {
    list-style: none;
}

.item_list {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.img_icon_list {
    width: 25px;
}

.container__child__body__form {
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_form {
    font-family: 'Roboto';
    color: hsl(234, 29%, 20%);
    font-weight: 700;
}

.input_text_form {
    border: 2px solid hsl(231, 7%, 60%);
    padding: 20px 20px 20px 30px;
    border-radius: 10px;
    font-size: 1.2em;
    color: hsl(231, 7%, 60%);
}

.input_text_form::placeholder {
    color: hsl(231, 7%, 60%);
}

.boton_form {
    padding: 20px;
    color: #FFF;
    background-color: hsl(234, 29%, 20%);
    border-radius: 10px;
    font-size: 1.2em;
}